.App {
  text-align: center;
  background: url('../../assets/images/background.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TakeHomeCard {
  text-align: center;
  background-color: rgb(240, 240, 6);
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: black;
}

.TakeHomeCard-title {
  font-size: 32px;
  color: violet;
  margin: 10px;
}

.TakeHomeCard-distance {
  font-size: 24px;
  margin: 10px;
  color: purple;
}